.page-books {
    background-color: #eef2f6;
    padding: 2rem;
}

/* .book-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(160px, 1fr));
    gap: 2rem;
    padding: 1rem 0;
} */

.book-card {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    position: relative;
    background: transparent;
    /* max-height: 10rem; */
    /* width: 100%;
    height: 100%; */
    /* max-height: 20rem; */
    max-width: 10rem;
    margin: 0 auto;
}

.book-card:hover {
    transform: translateY(-0.5rem);
}

.book-card-cover {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    aspect-ratio: 1 / 1.5;
    margin-bottom: 1rem;
}

.book-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.book-tag {
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 2px 8px;
    border-radius: 12px;
    margin-bottom: 8px;
    width: fit-content;
    background-blend-mode: normal;
}

.book-author {
    font-weight: lighter;
}

.book-separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding-bottom: 0.5rem;
    border-top: 2px solid grey;
}

.video-card {
    background: transparent;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: transform 0.2s;
}

/* --- VIDEO CONTAINER --- */

#video-grid {
    margin: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.video-wrapper {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    margin-bottom: 1rem;
    background: #000;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}

.thumbnail-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-card:hover .video-wrapper {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5);
}