* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#header {
    background-color: rgb(22, 24, 35);
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#topic-title {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background: rgb(22, 24, 35);
    color: rgb(188, 189, 208);
}

#lesson-content {
    width: 75%;
    margin: 0 auto;
}

.course-screen-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}

#sections-menu>.section {
    font-weight: bold;
}

.section>.topic-wrapper {
    color: rgb(188, 189, 208);
    margin-top: 0.4rem;
    margin-bottom: 0.7rem;
    font-weight: lighter;
    margin-left: 1rem;
}

.topic {
    width: 90%;
    cursor: pointer;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    transition: border 0.2s ease,
        box-shadow 0.2s ease,
        border-radius 0.2s ease;
}

.topic.selected {
    font-weight: bold;
    color: coral;
}

#menu-wrap {
    visibility: hidden;
    padding: 1rem;
    width: 100vw;
    left: -110%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    position: absolute;
    transition: left 0.3s ease, visibility 0.4s ease;
    background: rgb(40, 45, 63);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
}

#menu-wrap.visible {
    padding: 1rem;
    visibility: visible;
    left: 0;
}

#sections-menu {
    display: flex;
    flex-direction: column;
    padding: 0rem;

    color: rgb(188, 189, 208);
}


#menu-icon {
    cursor: pointer;
    height: auto;
    display: block;
    left: 0;
    padding: 1rem;
    background-image: url("details-menu-icons/right-arrow-svgrepo-com.svg");
    transition: background-image 0.3s ease-out;

    background-repeat: no-repeat;
    background-size: contain;
}


#menu-icon.menu-visible {
    background-image: url("details-menu-icons/left-arrow-svgrepo-com.svg");
}

#close-menu-icon {
    visibility: hidden;
    display: block;
    height: auto;
    padding: 1rem;
    background-image: url("details-menu-icons/left-arrow-svgrepo-com-mouseover.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1000;
}

#close-menu-icon.menu-visible {
    visibility: visible;
}

@media (min-width: 700px) {

    #menu-wrap {
        position: relative;
        visibility: hidden;
        width: 30%;
        max-width: 0%;
        left: 0;
        padding: 0;
        background-color: rgb(40, 45, 63);
        transition: max-width 0.3s ease, padding 0.3s ease, visibility 0.4s ease;
        overflow: hidden;
        color: rgb(188, 189, 208);
    }

    #menu-wrap.visible {
        visibility: visible;
        max-width: 30%;
        padding: 1rem;
    }

    #sections-menu {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0%;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        color: rgb(188, 189, 208);
    }

    .topic:not(.selected):hover {
        border: 2px solid #F0F4F8;
        box-shadow: 0 0 5px #F0F4F8;
        border-radius: 5%;
    }

    .topic-content {
        transition: margin-left 0.2s ease;
    }

    .topic:not(.selected):hover>.topic-content {
        margin-left: 0.7rem;
    }

    #menu-icon {
        cursor: pointer;
        height: auto;
        display: block;
        padding: 1rem;
        background-image: url("details-menu-icons/right-arrow-svgrepo-com.svg");
        transition: background-image 0.3s ease-out;

        background-repeat: no-repeat;
        background-size: contain;
    }

    #menu-icon.menu-visible {
        background-image: url("details-menu-icons/left-arrow-svgrepo-com.svg");
    }

    #menu-icon:hover {
        background-image: url("details-menu-icons/right-arrow-svgrepo-com-mouseover.svg");
    }

    #menu-icon.menu-visible:hover {
        background-image: url("details-menu-icons/left-arrow-svgrepo-com-mouseover.svg");
    }

    #close-menu-icon {
        visibility: hidden;
    }

    #close-menu-icon.menu-visible {
        visibility: hidden;
    }
}