* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.course-screen-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}

#sections-menu {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    padding: 0rem;
    width: 30%;
    max-width: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    transition: all 0.3s ease;
    position: relative;
    background: rgb(40, 45, 63);

    color: rgb(188, 189, 208);
}

#sections-menu.visible {
    visibility: visible;
    padding: 1rem;
    max-width: 30%;
}

#sections-menu>.section {
    font-weight: bold;
}

.section>.topic-wrapper {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-weight: lighter;
    margin-left: 1rem;
}

.topic-wrapper>.topic {
    cursor: pointer;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.topic.selected {
    color: coral;
}

.topic:hover {
    color: coral;
}

#menu-icon {
    cursor: pointer;
    height: auto;
    display: block;
    padding: 1rem;
    background-image: url("./right-arrow-svgrepo-com.svg");
    transition: background-image 0.3s ease-out;

    background-repeat: no-repeat;
    background-size: contain;
}

#menu-icon:hover {
    background-image: url("./right-arrow-svgrepo-com-mouseover.svg");
}

#menu-icon.menu-visible {
    background-image: url("./left-arrow-svgrepo-com.svg");
}

#menu-icon.menu-visible:hover {
    background-image: url("./left-arrow-svgrepo-com-mouseover.svg");
}

#header {
    background-color: rgb(22, 24, 35);
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#topic-title {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: rgb(22, 24, 35);
    color: rgb(188, 189, 208);
}

#lesson-content {
    width: 75%;
    margin: 0 auto;
}