/* Navbar */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #222;
    color: #fff;
    z-index: 1000;
    font-family: sans-serif;
}

.bar {
    display: flex;
    align-items: center;
    padding: 0.7rem 1rem;
    gap: 1rem;
}

#toggle-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.logo {
    font-weight: bold;
}

.links {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #222;
    overflow: hidden;
    transition: max-height 0.25s ease, padding 0.25s ease;
    max-height: 60px;
    padding: 0.6rem 0;
    display: flex;
    justify-content: space-evenly;
}

.links li a {
    color: #fff;
    text-decoration: none;
    padding: 0.4rem;
    display: inline-block;
}

.links li a:hover {
    background: #333;
}

.collapsed {
    max-height: 0;
    padding: 0;
}

body {
    margin-top: 120px;
}

/* Container */
#card_container {
    background-color: #272343;
    display: grid;
    padding: 3rem;
    grid-template-columns: repeat(var(--card-columns), 1fr);
    justify-content: center;
}

.lesson_card {
    font-family: Arial, sans-serif;
    color: black;
    background-color: #e3f6f5;
    padding: 2rem;
    margin: 1rem;
    border-radius: 2%;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.lesson_card:hover {
    transform: rotate(2deg);
}

.card_learn_btn {
    font-weight: normal;
    font-size: large;

    height: 10vh;
    margin-top: auto;
    padding: 1rem;
    align-self: center;

    border-radius: 20% 0 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.40);
    background: #bae8e8;
    color: black;

}

@media (min-width: 700px) {
    :root {
        --card-columns: 2;
    }
}

@media (min-width: 1024px) {
    :root {
        --card-columns: 3;
    }
}