/* Container */
#card_container {
    background-color: #272343;
    display: grid;
    padding: 3rem;
    grid-template-columns: repeat(3, 1fr);
}

.lesson_card {
    font-family: Arial, sans-serif;
    color: black;
    background-color: #e3f6f5;
    padding: 2rem;
    margin: 1rem;
    border-radius: 2%;
    text-align: center;
    transition: transform 0.3s ease;
}

.lesson_card:hover {
    transform: rotate(2deg);
}

.card_learn_btn {
    font-weight: normal;
    font-size: large;
    padding: 1rem;
    border-radius: 20% 0 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.40);
    background: #bae8e8;
    color: black;
}